
        <div class="span9">
          <div class="hero-unit">
            <h1>Task List</h1>
            <p>This is Tasklist, I made this to demonstrate Pything / Django with Mongo DB as the backend and fronted it with Angular and bootstrap</p>
            <p><a href="http://soimasysadmin.com/2013/03/06/python-a-django-experience/" class="btn btn-primary btn-large">Read More &raquo;</a></p>
          </div>
          <div class="row-fluid">
            <label>Name:</label>
            <input type="text" ng-model="yourName" placeholder="Enter a name here">
            <hr>
            <h1>Hello {{yourName}}!</h1>
          </div><!--/row-->
        </div><!--/span-->
